body{
    font-family:"Ubuntu Mono";
    background-image: url("bg.png");
    background-size: cover;
    height: 100vh;
    overflow:hidden;
}

.gallery-card:hover {
  transform: translateY(-2px);
  border-color: rgb(140, 90, 150);
filter: drop-shadow(3px 3px 5px rgba(140, 90, 150, 0.4));
}
.gallery-card:active,
.gallery-card.glow-active {
  border-color: rgb(190, 130, 210);
 filter: drop-shadow(3px 3px 5px rgba(140, 90, 150, 0.4));
  transform: scale(0.97);
}

.gallery-card3:hover {
  transform: translateY(-2px);
  border-color: rgb(140, 90, 150);
 filter: drop-shadow(3px 3px 5px rgba(140, 90, 150, 0.4));
}
.gallery-card3:active,
.gallery-card3.glow-active {
  border-color: rgb(190, 130, 210);
  filter: drop-shadow(3px 3px 5px rgba(140, 90, 150, 0.4));
  transform: scale(0.97);
}

.gallery-card2:hover {
  transform: translateY(-2px);
  border-color: rgb(140, 90, 150);
 filter: drop-shadow(3px 3px 5px rgba(140, 90, 150, 0.4));
}
.gallery-card2:active,
.gallery-card2.glow-active {
  border-color: rgb(190, 130, 210);
  filter: drop-shadow(3px 3px 5px rgba(140, 90, 150, 0.4));
  transform: scale(0.97);
}

.gallery-container{
    width:90%;
    margin-left:30px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}


.gallery-container2{
    display:flex;
    justify-content:center;
}

.gallery-card2{
    width: 40vw; 
    width: clamp(200px, 40vw, 400px);
}

.gallery-card{
    width: 15vw; 
    width: clamp(100px, 15vw, 400px);
}


.gallery-card3{
    width: 17vw; 
    width: clamp(100px, 17vw, 400px);
}

.openbutton{
line-height: 1; font-size: 16px; margin-right: 10px;
}

#topbar{
    font-family:"Ubuntu Mono";
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:20px;
    background-color: rgba(0, 0, 0, 0.386);
    backdrop-filter: blur(10px);
}
#logo{
    border-radius:10px;
    width:50px;
}
#logo-space{
    padding-left:20px;
    height:50px;
}
#time-space{
    margin-bottom:-10px;
    padding-right:10px;
}

#sidebar{
    z-index:99999999;
    margin-bottom:68px;
    position:absolute;
    left:0;
    bottom:0;
    font-family:"Ubuntu Mono";
    display:none;
    flex-direction:column;
    background-color: rgba(118, 117, 117, 0);
    backdrop-filter: blur(10px);
    width:40%;
    height:60%;
    border-radius:16px;
    border-top:solid ;
    border-right:solid ;
    border-color: rgb(140, 90, 150);
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px
}

#nasaapp{
    width:30%;
    margin-top: 30px;
    padding:16px;
}

#timerapp{
    width:30%;
    margin-top: 30px;
    padding:16px;
}

.window{
    border: solid; 
    display: flex; 
    flex-direction: column; 
    border-radius: 16px; 
    position: absolute; 
    top: calc(50% - 180px); 
    left: calc(50% - 360px); 
    backdrop-filter: blur(4px); 
    background-color: rgba(0, 0, 0, 0.125); 
    border-color:rgb(140, 90, 150);
    width:60%;
}

.windowheader{
    width: 100%; 
    display: flex; 
    align-items: center; 
    cursor: pointer; 
    justify-content: flex-end; 
    box-sizing: border-box; 
    padding: 8px 14px;
    margin: 0px;
    color:rgb(140, 90, 150);
}

.insidewindow{
    border-radius: 16px;
    width:100%;
}

.selected{
    filter: drop-shadow(0 0 8px rgb(140, 90, 150));
}

  .timercontainer {
            text-align: center;
            background: #56444400;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
        .inputcontainer {
            margin-bottom: 20px;
        }
        .inputcontainer input {
            width: 80px;
            padding: 8px;
            font-size: 1.5rem;
            font-family:"Ubuntu Mono";
            background:#ffffff61;
            border: 1px solid #cccccc00;
            border-radius: 5px;
            text-align: center;
        }
        .inputcontainer button {
            padding: 8px 15px;
            font-family:"Ubuntu Mono";
            font-size: 1.5rem;
            background-color: rgba(179, 3, 214, 0.49);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 5px;
        }
        .timedisplay {
            font-family:"Ubuntu Mono";
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 20px;
            color: #e8afe7;
        }
        .controls button {
            font-size: 1rem;
            padding: 10px 20px;
            margin: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.2s;
        }
        #startB { 
            background-color: rgba(179, 3, 214, 0.49); 
            color: white;
            border: 1px solid #cccccc00;
        }
        #pauseB { 
            background-color: rgba(179, 3, 214, 0.49); 
            border: 1px solid #cccccc00;
            color: white; 
        }
        #resetB { 
            background-color: rgba(179, 3, 214, 0.49);
            border: 1px solid #cccccc00;
            color: white; 
        }