body{
    font-family:"Ubuntu Mono";
    background-image: url("bg.png");
    background-size: cover;
    height: 100vh;
    overflow:hidden;
}

.openbutton{
line-height: 1; font-size: 16px; margin-right: 10px;
}

#topbar{
    font-family:"Ubuntu Mono";
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:20px;
    background-color: rgba(0, 0, 0, 0.386);
    backdrop-filter: blur(10px);
}
#logo{
    border-radius:10px;
    width:50px;
}
#logo-space{
    padding-left:20px;
    height:50px;
}
#time-space{
    margin-bottom:-10px;
    padding-right:10px;
}

#sidebar{
    margin-bottom:68px;
    position:absolute;
    left:0;
    bottom:0;
    font-family:"Ubuntu Mono";
    display:flex;
    flex-direction:column;
    background-color: rgba(118, 117, 117, 0);
    backdrop-filter: blur(10px);
    width:40%;
    height:60%;
    border-radius:16px;
    border-top:solid ;
    border-right:solid ;
    border-color: rgb(140, 90, 150);
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px
}

#nasaapp{
    width:20%;
    margin-top: -30px;
    padding:16px;
}

.window{
    border: solid; 
    display: flex; 
    flex-direction: column; 
    border-radius: 16px; 
    position: absolute; 
    top: calc(50% - 180px); 
    left: calc(50% - 360px); 
    backdrop-filter: blur(4px); 
    background-color: rgba(0, 0, 0, 0.125); 
    border-color:rgb(140, 90, 150);
    width:60%;
}

.windowheader{
    width: 100%; 
    display: flex; 
    align-items: center; 
    cursor: pointer; 
    justify-content: flex-end; 
    box-sizing: border-box; /* Ensures width: 100% includes padding */
    padding: 8px 14px;
    margin: 0px;
    color:rgb(140, 90, 150);
}

.insidewindow{
    border-radius: 16px;
    width:100%;
}

.selected{
    filter: drop-shadow(0 0 8px rgb(140, 90, 150));
}
